
<p>
  <strong>Temperature setting:</strong>
  <div style="padding: 10px; font-size: 10px; margin-top: 0px;">
    <%= @nest.temperature %>
  </div>
</p>

<p>
  <strong>Target temperature:</strong></br>
  <div style="padding: 10px; font-size: 10px">
    <strong>Temperature:</strong> <%= @nest.temperature %></br>
  </div>
</p>

