  <strong>Component:</strong>
  <div class="detail_info">
    <%= @nest.product %>
  </div></br>
  <strong>Target temperature:</strong></br>
  <div class="detail_info">
    <%= @nest.temperature %>&degF</br>
  </div>

