  <% if @nest.product %>
  
	  <strong>Component:</strong>
	  <div class="detail_info">
	    <%= @nest.product %>
	  </div></br>
	<% end %>	  

	<% if @nest.temperature %>
		<strong>Target temperature:</strong></br>
	  <div class="detail_info">
	    <%= @nest.temperature %>&degF</br>
	  </div>
	<% end %>
