/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

div {
	font-family: 'Source Sans Pro', sans-serif;
}


/*********************************************************************************/
/* Homepage                                                                      */
/*********************************************************************************/

	#homepage-wrapper
	{
	/*	background: url(/images/kenny.jpg) no-repeat center center fixed; 
	   -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
/*		position: relative;
		padding: 5em 0em 7em 0em;
		background: url(/images/kenny.jpg) no-repeat center;
		background-size: auto auto;*/

	  position: fixed; 
	  top: 0; 
	  left: 0; 
		
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
	}

	#bg {
	  position: fixed; 
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
	}
	#bg img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}

	#homepage
	{
		position: relative;
		padding: 5em 0em;
	}


	#kennyandme {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 200;
	color: #000;
	font-size: 64pt;
	}

	#description {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 200;
	color: #000;
	font-size: 26pt;
	}


	#header-wrapperk
	{
	position: relative;
	}

	#headerk
	{
	position: relative;
	padding: 5em 0em;
	}
