body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  
  &.actions {
    margin-left: -10px;
    padding-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.btn {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  float: right;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 0px 0px 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #b3d2e6;
  background-image: -webkit-linear-gradient(top, #b3d2e6, #91a9b8);
  background-image: -moz-linear-gradient(top, #b3d2e6, #91a9b8);
  background-image: -ms-linear-gradient(top, #b3d2e6, #91a9b8);
  background-image: -o-linear-gradient(top, #b3d2e6, #91a9b8);
  background-image: linear-gradient(to bottom, #b3d2e6, #91a9b8);
  text-decoration: none;
}

.btn:visited {
  color: #ffffff;
}

.btn.btn-default {
  float: left;
  margin: 10px 0px 0px 0px
}

.btn.btn-create {
  float: left;
}

.btn.btn-back{
  float: left;
  margin: 0px 0px 5px 0px;
  background: #828181;
  background-image: -webkit-linear-gradient(top, #828181, #B0AEAE);
  background-image: -moz-linear-gradient(top, #828181, #B0AEAE);
  background-image: -ms-linear-gradient(top, #828181, #B0AEAE);
  background-image: -o-linear-gradient(top, #828181, #B0AEAE);
  background-image: linear-gradient(to bottom, #828181, #B0AEAE);
}

.btn.btn-back:hover {
  background: #B0AEAE;
  background-image: -webkit-linear-gradient(top, #B0AEAE, #828181);
  background-image: -moz-linear-gradient(top, #B0AEAE, #828181);
  background-image: -ms-linear-gradient(top, #B0AEAE, #828181);
  background-image: -o-linear-gradient(top, #B0AEAE, #828181);
  background-image: linear-gradient(to bottom, #B0AEAE, #828181);
  color: #000000;
  text-decoration: none;
}

.show_details {
}

.bounding_box {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px;
  line-height: 200%;
  margin: 0px 0px 20px 0px;
  
}

.general_details {
  width: 49%;
  display: inline-block;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
  vertical-align: top;
}

.special_details {
  width: 49%;
  display: inline-block;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
  vertical-align: top;
}

.detail_info {
  padding: 0px 20px; 
}

.detail_info.small {
  font-size: 10px;
}

footer {
  width: 75%;
  border-top: 1px solid lightgrey;
  margin: 30px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}
